@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;

  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 118%;
  font-weight: 400;
  color: #333333;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;

  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
}


.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.button-additional {
  background-color: #82b3d3;
}

.button-reset {
  background-color: transparent;
}

.favorites-add {
  background-color: #7dB54f;
}





/* header */
.header-main {
  display: flex;

  color: #000000;
  background-color: #ffffff;
  padding-left: 70px;
  padding-right: 70px;
}

.header-logo-link {
  width: 140px;
  margin-right: 30px;
}



/* navigation */
.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  padding: 20px 16px;
}

.navigation-item .button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 8px 34px;
}

.main-index,
.main-inner {
  flex-grow: 1;
}


/* preview  */
.preview {
  background-color: #4d7b9a;
  background-image: url("../images/background/preview.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
}

.preview-image {
  padding-top: 51px;
  padding-bottom: 76px;
}

.page-headline {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.page-desc {
  text-align: center;
}

.page-subtitle {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.page-headline-and-desc-other-color {
  color: #ffffff;
}



/* advantages  */
.advantages-title {
  margin-top: 69px;
}

.advantages-description {
  margin-bottom: 90px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;

  background: rgba(130, 179, 211, 0.12);

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  text-align: center;
}


.advantages-container,
.advantages-item-element {
  width: 400px;
  box-sizing: border-box;
  padding: 100px 80px;
}

.advantages-with-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.advantages-item:nth-child(3n) {
  background: rgba(130, 179, 211, 0.2);
}

.advantages-with-image {
  background: rgba(130, 179, 211, 1);
}

.advantages-item-description {
  font-size: 18px;
  line-height: 21px;
}



/* recommendations */
.recommendations-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgba(130, 179, 211, 0.12);

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.recommendations-item {
  text-align: center;
  width: 33.33%;
}

.recommendations-item:nth-child(2n) {
  background-color: #ffffff;
}

.recommendations-item-description {
  font-size: 18px;
  line-height: 21px;
}



.booking {
  text-align: center;
}

.subscription {
  text-align: center;
}


/* filter */
.filter-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  padding: 35px 70px 70px;

  background-color: #82b3d3;
  background-image: url("../images/background/filter.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 0;
}

.breadcrumbs-list {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.sorting-filter {
  display: flex;
  flex-direction: row;
}

.sorting-filter-group {
  border: none;
}

.sorting-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.sorting-filter-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sorting-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.sorting-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.sort {
  display: flex;
  flex-direction: row;

  padding: 0;
  margin: 0;
  list-style-type: none;
}


/* catalog */
.catalog {
  display: flex;
  flex-direction: column;

  padding: 50px 70px 60px;
}

.catalog-nav {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 20px;
}

.catalog-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-card {
  display: flex;
  flex-direction: column;

  width: 340px;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;

  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.catalog-card:not(:nth-child(3n)) {
  margin-right: 20px;
}

.catalog-card-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.catalog-card-type,
.catalog-card-price {
  font-size: 18px;
  line-height: 21px;
}

.catalog-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
}



/* pagination */

.pagination-list {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;


  font-size: 20px;
  line-height: 36px;
  width: 60px;
  height: 60px;

  margin-right: 8px;

  border-radius: 4px;

  color: #ffffff;
  text-decoration: none;
  background-color: #82b3d3;
}

.pagination-link-without-number {
  color: #000000;
  background-color: transparent;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}



.main-page-subscription {
  background-color: #4d7b9a;
  background-image: url("../images/background/subscribe.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.subscription input {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
}



.main-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social-list {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0;
  margin: 0;
  list-style-type: none;
}

.contacts-address a {
  text-decoration: none;
}

.contacts-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  color: #000000;

}
