@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;

  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 118%;
  font-weight: 400;
  color: #333333;

  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;

  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

/* button */
.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  padding: 8px 50px;
  cursor: pointer;
}

.button:hover {
  background-color: #615048;
}

.button:focus-visible {
  background-color: #615048;
  outline-offset: 3px;
}

@supports not selector(:focus-visible) {
  .button:focus {
    background-color: #615048;
    outline-offset: 3px;
  }
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #e5e5e5;
  pointer-events: none;
}

.button-additional {
  background-color: #82b3d3;
}

.button-additional:hover {
  background-color: #68a2ca;
}

.button-additional:focus-visible {
  background-color: #68a2ca;
  outline-offset: 3px;
}

@supports not selector(:focus-visible) {
  .button-additional:focus {
    background-color: #68a2ca;
    outline-offset: 3px;
  }
}

.button-additional:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-additional:disabled {
  background-color: #e5e5e5;
  pointer-events: none;
}

.button-reset {
  background: transparent;
  border: 0;
}

.button-reset:active {
  background: transparent;
  color: rgba(255, 255, 255, 0.3);
  border: 0;
  padding: 8px 50px;
}

.button-reset:focus-visible {
  background: transparent;
  border: 3px solid #83b3d3;
  padding: 5px 47px;
  outline-offset: 3px;
}

@supports not selector(:focus-visible) {
  .button-reset:focus {
    background: transparent;
    border: 3px solid #83b3d3;
    padding: 5px 47px;
    outline-offset: 3px;
  }
}

.button-reset:hover {
  background: transparent;
  border: 0;
  opacity: 0.6;
  padding: 8px 50px;
}

.button-reset:disabled {
  background: transparent;
  border: 0;
  opacity: 0.1;
  padding: 8px 50px;
  pointer-events: none;
}

.favorites-add {
  background-color: #7dB54f;
}

.favorites-add:hover {
  background-color: #6c9e42;
}

.favorites-add:focus-visible {
  background-color: #6c9e42;
  outline-offset: 3px;
}

@supports not selector(:focus-visible) {
  .favorites-add:focus {
    background-color: #6c9e42;
    outline-offset: 3px;
  }
}

.favorites-add:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.favorites-add:disabled {
  background-color: #e5e5e5;
  pointer-events: none;
}



.page-headline {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.page-desc {
  text-align: center;
  margin: 0;
}

.page-subtitle {
  font-size: 24px;
  line-height: 117%;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}

.page-other-color {
  color: #ffffff;
}

/* header */
.header-main {
  display: flex;
  position: relative;

  color: #000000;
  background-color: #ffffff;
  padding: 0 70px;
}

.header-logo-link {
  position: absolute;
}

/* navigation */
.navigation {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;

  margin-left: 168px;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  position: relative;
  display: block;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  padding: 20px 16px;
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: -1px;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-menu .navigation-link:hover {
  color: #756157;
}

.navigation-menu .navigation-link:focus-visible {
  color: #756157;
}

@supports not selector(:focus-visible) {
  .navigation-menu .navigation-link:focus {
    color: #756157;
    outline-offset: 3px;
  }
}

.navigation-menu .navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-search {
  position: relative;
}

.navigation-count {
  position: absolute;
  top: 11px;
  left: 20px;
  font-size: 10px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  border-radius: 100vw;
  min-width: 20px;
  height: 20px;
  background: #7db54f;
  padding: 5px 4px;
  box-sizing: border-box;
}

.navigation-button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 8px 34px;
}

.navigation-link-icon {
  position: relative;
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.navigation-link-icon:hover .navigation-icon {
  fill: #756157;
}

.navigation-link-icon:focus-visible .navigation-icon {
  fill: #756157;
  outline-offset: 3px;
}

@supports not selector(:focus-visible) {
  .navigation-link-icon:focus .navigation-icon {
    fill: #756157;
    outline-offset: 3px;
  }
}

.navigation-link-icon:active .navigation-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.navigation-user {
  min-width: 268px;
}

.navigation-button {
  margin-left: 20px;
}

/* main */
.main-index,
.main-inner {
  flex-grow: 1;
}


/* preview  */
.preview {
  background-color: #4d7b9a;
  background-image: url("../images/background/preview.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;

  padding: 31px 70px 56px;
  box-sizing: border-box;
  min-height: 485px;
}

.preview-image {
  margin: 20px;
}

/* advantages  */
.advantages-container {
  padding: 70px 70px;
}

.advantages-title {
  margin-bottom: 25px;
}

.advantages-description {
  margin-bottom: 20px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;

  background: rgba(130, 179, 211, 0.2);

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.advantages-item-title::after {
  display: block;
  content: "";
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  width: 60px;
  margin: 30px auto;
}

.advantages-with-image .advantages-item-title::after {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.advantages-item-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-container {
  width: 400px;
  box-sizing: border-box;
  padding: 102px 85px;
}

.advantages-item-element {
  width: 400px;
  box-sizing: border-box;
  padding: 112px 85px;
}

.advantages-item:nth-child(2n+1) {
  background: rgba(130, 179, 211, 0.12);
}

.advantages-item.advantages-with-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(130, 179, 211, 1);
}

/* recommendations */

.recommendations-container {
  padding: 64px 70px;
}

.recommendations-title {
  margin-bottom: 20px;
}

.recommendations-item-title::before {
  content: "";
  display: block;
  margin: auto;
  padding: 2px;
  margin-bottom: 24px;
  height: 80px;
  width: 76px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.recommendations-home .recommendations-item-title:before {
  background-image: url("../images/icons/icon-home.svg");
}

.recommendations-food .recommendations-item-title:before {
  background-image: url("../images/icons/icon-food.svg");
}

.recommendations-gift .recommendations-item-title:before {
  background-image: url("../images/icons/icon-gift.svg");
}

.recommendations-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgba(130, 179, 211, 0.12);

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.recommendations-item {
  text-align: center;
  width: 400px;
  box-sizing: border-box;
  padding: 80px 85px;

}

.recommendations-item:nth-child(2n) {
  background-color: #ffffff;
}

.recommendations-item-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.recommendations-item svg {
  min-width: 72px;
  min-height: 75px;
  margin-bottom: 23px;
}

.recommendations-item-title {
  margin-bottom: 30px;
}

/* booking */
.booking {
  text-align: center;
  padding: 96px 70px;
}

.booking-title {
  margin-bottom: 20px;
}

.booking-description {
  margin-bottom: 54px;
}

/* filter */
.filter-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  padding: 35px 70px 70px;

  background-color: #82b3d3;
  background-image: url("../images/background/filter.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 3px;
}

.breadcrumbs-list {
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-item:first-child {
  margin-right: 28px;
  position: relative;
}

.breadcrumbs-item:first-child::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 9px;
  display: block;
  width: 8px;
  height: 20px;
  background-image: url("../images/icons/icon-breadcrumbs.svg");
  background-repeat: no-repeat;
}

/* заполнить */

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus-visible {
  color: #ffffff;
}

@supports not selector(:focus-visible) {
  .breadcrumbs-link:focus {
    color: #ffffff;
    outline-offset: 3px;
  }
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-home {
  fill: #ffffff;
}


.breadcrumbs-link-icon:hover .breadcrumbs-home {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link-icon:focus-visible .breadcrumbs-home {
  fill: #ffffff;
}

@supports not selector(:focus-visible) {
  .breadcrumbs-link-icon:focus .breadcrumbs-home {
    fill: #ffffff;
    outline-offset: 3px;
  }
}

.breadcrumbs-link-icon:active .breadcrumbs-home {
  fill: rgba(255, 255, 255, 0.3);
}



.sorting-filter {
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.sorting-filter-group {
  border: none;
  padding: 0;
  margin: 0;
}

.sorting-filter-group-price {
  margin-left: 70px;
}

.sorting-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 0;
  margin-bottom: 32px;
}

.sorting-filter-list {
  display: flex;
  flex-direction: column;
  min-height: 112px;
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sorting-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.sorting-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.sorting-inputs {
  display: flex;
  gap: 0 1px;
}

.price-min {
  border-radius: 4px 0 0 4px;
}

.price-max {
  border-radius: 0 4px 4px 0;
}

.sorting-inputs input {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  width: 143px;

  padding: 12px 45px 12px 20px;
  border: none;
  box-sizing: border-box;
}

.select-control {
  position: relative;
  display: block;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding: 10px 15px;
  box-sizing: border-box;
  min-width: 292px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  appearance: none;

  background: url("../images/icons/icon-arrow.svg") no-repeat right 15px center;
  cursor: pointer;
}

.select-control:hover {
  border-color: #68a2ca;
}

.select-control:focus {
  border-color: #68a2ca;
}

.select-control:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  opacity: 0, 3;
  cursor: default;
  background: url("../images/icons/icon-arrow-disabled.svg") no-repeat right 15px center;
}



.sort {
  display: flex;
  flex-direction: row;
  gap: 8px;

  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sort-link {
  display: block;
  margin: 0;
  box-sizing: border-box;
  border: 2px solid #E5E5E5;
  padding: 8px 14px;
  border-radius: 4px;
}

.sort-link-current {
  border-color: #000000;
}

.sort-link:hover {
  border-color: #000000;
}

.sort-link:focus-visible {
  border-color: #68a2ca;
  outline-offset: 3px;
}

@supports not selector(:focus-visible) {
  .sort-link:focus {
    border-color: #68a2ca;
    outline-offset: 3px;
  }
}

.sort-link:active {
  border: 2px solid #000000;
}

.sorting-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.sorting-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
}

.sorting-buttons .button-additional {
  margin-bottom: 32px;
}


/* catalog */
.catalog {
  display: flex;
  flex-direction: column;

  padding: 57px 70px 60px;
}

.catalog-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 20px;
}

.catalog-list {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  gap: 19px 20px;
  list-style-type: none;
  margin-bottom: 80px;
}

.catalog-list::after {
  content: "";
  position: absolute;
  height: 1px;
  right: 0;
  left: 0;
  bottom: -40px;
  background-color: #e6e6e6;
}


.catalog-card {
  display: grid;
  grid-template-rows: 212px min-content auto;
  grid-template-columns: 140px 140px;

  padding: 20px 19px;
  gap: 16px 20px;
  box-sizing: border-box;

  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.catalog-card-link,
.catalog-card-title {
  grid-column: 1 / -1;
}

.catalog-card-price {
  justify-self: end;
}

.catalog-card-stars {
  background-image: url("../images/icons/icon-star.svg");
  background-repeat: repeat-x;
  background-position: center left;
  background-size: 24px auto;
}

.stars-1 {
  width: 24px;
}

.stars-2 {
  width: 48px;
}

.stars-3 {
  width: 72px;
}

.stars-4 {
  width: 96px;
}

.stars-5 {
  width: 120px;
}

.catalog-card-button,
.favorites {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 0;
  box-sizing: border-box;
}

.catalog-card-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;

}

.catalog-card-type,
.catalog-card-price {
  font-size: 18px;
  line-height: 21px;
}

.catalog-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  justify-self: center;
  padding: 9px 22px;
  border-radius: 4px;
}

/* pagination */
.pagination-list {
  display: flex;
  flex-direction: row;

  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  min-width: 60px;
  height: 60px;
  padding: 12px 10px;
  box-sizing: border-box;

  border-radius: 4px;

  color: #ffffff;
  text-decoration: none;
  background-color: #82b3d3;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus-visible {
  background-color: #68a2ca;
  outline-offset: 3px;
}

@supports not selector(:focus-visible) {
  .pagination-link:focus {
    background-color: #68a2ca;
    outline-offset: 3px;
  }
}

.pagination-link:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
  cursor: default;
  pointer-events: none;
}

.pagination-link-without-number {
  color: #000000;
  background-color: transparent;
}

.pagination-link-without-number:hover {
  background-color: #f2f2f2;
}

.pagination-link-without-number:focus-visible {
  background-color: #f2f2f2;
  outline-offset: 3px;
}

@supports not selector(:focus-visible) {
  .pagination-link-without-number:focus {
    background-color: #f2f2f2;
    outline-offset: 3px;
  }
}

.pagination-link-without-number:active {
  background-color: transparent;
  color: rgba(117, 97, 87, 0.3);
}

/* subscription */

.main-page-subscription {
  background-color: #4d7b9a;
  background-image: url("../images/background/subscribe.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.subscription {
  text-align: center;
  padding: 96px 70px 104px 70px;
}

.subscription-title {
  margin-bottom: 20px;
}

.subscription-description {
  margin-bottom: 55px;
}

.subscription-form {
  display: flex;
  justify-content: center;
}

.subscription input {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;

  padding: 14px 20px;
  border: none;
  border-radius: 4px 0 0 4px;
  width: 452px;
  box-sizing: border-box;
  background: #F2F2F2;
}

.subscription input:hover {
  background: #e6e6e6;
}

.subscription input:focus-visible {
  background: #e6e6e6;
  border: 3px solid #83b3d3;
  outline-offset: 3px;
  padding: 11px 17px;
}

@supports not selector(:focus-visible) {
  .subscription input:focus {
    background: #e6e6e6;
    outline-offset: 3px;
    border: 3px solid #83b3d3;
    padding: 11px 17px;
  }
}

.subscription-button {
  border-radius: 0 4px 4px 0;
}

/* footer */
.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 45px 70px 30px 70px;
}

/* social */
.social-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;

  padding: 0;
  margin: 0;
  list-style-type: none;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 47px;
  min-height: 40px;
}

.social-icon {
  fill: #83b3d3;
}

.social-link:hover .social-icon {
  fill: #68a2ca;
}

.social-link:focus-visible .social-icon {
  fill: #68a2ca;
  outline-offset: 3px;
}

@supports not selector(:focus-visible) {
  .social-link:focus .social-icon {
    fill: #68a2ca;
    outline-offset: 3px;
  }
}

.social-link:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

/* contacts */
.contacts-phone {
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.contacts-phone:hover {
  color: #756157;
}

.contacts-phone:focus-visible {
  color: #756157;
  outline-offset: 3px;
}

@supports not selector(:focus-visible) {
  .contacts-phone:focus {
    color: #756157;
    outline-offset: 3px;
  }
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}


/* copyright */
.footer-copyright-icon {
  fill: #000000;
}

.footer-copyright-link:hover .footer-copyright-icon {
  fill: #756157;
}

.footer-copyright-link:focus-visible .footer-copyright-icon {
  fill: #756157;
  outline-offset: 3px;
}

@supports not selector(:focus-visible) {
  .footer-copyright-link:focus .footer-copyright-icon {
    fill: #756157;
    outline-offset: 3px;
  }
}

.footer-copyright-link:active .footer-copyright-icon {
  fill: rgba(117, 97, 87, 0.3);
}
